@import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');

.progress-container {
  margin-top: 50px;
  width: 100%;
}

.perspective (@value) {
  -webkit-perspective: @value;
  -moz-perspective: @value;
  perspective: @value;
}

.transform (@value) {
  -webkit-transform: rotateY(@value);
  -moz-transform: rotateY(@value);
  transform: rotateY(@value);
}

.border-radius (@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}

ul {
  -moz-column-count: 1;
  -moz-column-gap: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap: 20px;
  column-count: 1;
  column-gap: 20px;
}

li {

  float: left;
  height: 200px;
  margin: 0 10px 10px 0;
  width: 500px;
}

body {
  margin-top: 50px;
}
.grey-background{
  background: #aaaaaa;
}

.red-background {
  background: #FFCCCC;
}
.green-background {
  background: #85FF5C;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 30px;
  background: #f5f5f5;
}

.sidebar {
  position: fixed;
  top: 70px;
  right: 0px;
  text-align: right;
  width: 150px;
  height: 800px;
  background: #f5f5f5;
  overflow:scroll;
}

.mainContainer {
  margin-bottom: 40px;
}

.flip-container {
  .perspective(1000);
  margin-bottom: 20px;
  &:hover .flipper {
    .transform(10deg);
  }
  &.flipped .flipper {
    .transform(180deg);
  }
}

.flipper {
  height: 190px;
  width: 500px;

  background-color: #fafafa;
  border: 1px solid #ddd;

  .border-radius(4px);

  cursor: hand;
  cursor: pointer;

  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:after {
    content: attr(data-content);
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #9da0a4;

    .border-radius(4px 0 4px 0);
  }
}

.chart-holder {
  position: relative;
  top: 0 !important;
  width: 500px;
  height: 190px;
  left: 10px;
  z-index: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.chart-holder {
  z-index: 2;
  & p {
    position: relative;
    bottom: 20px;
    left: 20px;
    font-size: 10px;
    color: #aaaaaa;
    font-style: italic;
  }
}

.details-holder {
  .transform(180deg);
  text-align: center;
  & h4 {
    position: absolute;
    top: 10px;
    padding: 0px;
  }
  & .progress {
    padding: 1px;
    background: none;
    border: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  & img {
    height: 50px;
    width: 50px;
  }
}

.chart {
  position: relative;
  width: 460px;
  height: 105px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.fundContainer {
  position: relative;
  font-size: 14pt;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

}

.fund-alert {
  position: relative;
  font-size: 14pt;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 1150px;

}

.brand {
  font-size: 22pt;
}