<!DOCTYPE html>

@import play.mvc.Http.Context.Implicit._

<html>
    <head>
        <title>providentia Dashboard</title>
        <link rel='stylesheet' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type='text/javascript' src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("lib/flot/jquery.flot.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
    </head>
    
    <body data-ws-url="wss://providentia-funds.herokuapp.com/ws">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Providentia - The fund price oracle</a>
                    <form id="addsymbolform" class="navbar-form pull-right">
                        <select id="addsymboltext">
                            <option value="DNBNorgeIndex">DNB Norge Indeks</option>
                            <option value="DNBGlobalIndex">DNB Global Indeks</option>
                            <option value="DNBNordicTechnology">DNB Nordic Technology</option>
                            <option value="DNBAsiaSmallCap">DNB Asia Small Cap</option>
                            <option value="DNBGreenNorden">DNB Grønt Norden</option>
                            <option value="DNBIndia">DNB India</option>
                            <option value="DNBJapan">DNB Japan</option>
                            <option value="DNBUSA">DNB USA</option>
                            <option value="DNBChinaCentury">DNB China Century</option>
                            <option value="DNBNavigator">DNB Navigator</option>
                            <option value="DNBHealthcare">DNB Healthcare</option>
                        </select>
                        <button type="submit" class="btn">Add Fund</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="progress-container">
            <div class="progress progress-striped active">
                <div class="bar" style="width : 0% ;"></div>
            </div>
        </div>


        <div id="mainContainer">
            <div id="fund" class="fundContainer"></div>
            <div id="stocks" class="container">
                <ul></ul>
            </div>

            <div class="sidebar">

                <p class="text-muted"><div id="skipped" ></div>
            </div>
            <div class="footer">
                <p class="text-muted">An Aydin Gungordu concoction - <a class="" href="mailto:aydinbg&amp;gmail.com?Subject=Providentia">Contact</a>
                    - <a class="" href="http://no.linkedin.com/in/AydinGungordu">LinkedIn</a> - <a class="" href="https://github.com/Aydin-">GitHub</a></p>
            </div>
            </div>
    </body>
</html>
